In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['ID', 'Nome', 'Idade']).set_index('ID')

In [4]:
df

Empty DataFrame
Columns: [Nome, Idade]
Index: []

### CRUD

- Create
- Read
- Update
- Dele

In [8]:
# cria uma nova linha:
linha = {'Nome': 'Fernando', 'Idade': 46}

# cria um DF com a nova linha:
df_linha = pd.DataFrame([linha])

# Insere a linha no DF original
df = pd.concat([df, df_linha], ignore_index=True)

df

       Nome Idade
0  Fernando    46

{'Nome': 'Fernando', 'Idade': 46}